div.cont-top, div.cont-top-bio, div.cont-top-contact, div.cont-top-upcoming {
    min-height: 600px;
    vertical-align: center;
    text-align: center;
}

div.cont-top-bio h1 {
    text-align: left;
}

div#loader {
    background: url(/media/img/ajax-loader.gif) no-repeat center center;
    width: 900px;
    height: 600px;
    display: none;
    z-index: 9;
    position: absolute;
    top: 30px;
}


