<html>

<head>
<title>LaurenBrincat.com</title>
<link rel="stylesheet" href="/media/css/style.css" media="screen" type="text/css"/>
<!--<link rel="stylesheet" href="/media/css/scrollbar_demo.css" media="screen" type="text/css"/>-->
<link rel="stylesheet" href="/media/css/custom.css" media="screen" type="text/css"/>
<style type="text/css">
div#scrollbar {
    display:none; /* hide from incapable */
    }

</style>
<script type="text/javascript" src="/media/scripts/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/scripts/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/media/scripts/jquery.em.js"></script>
<script type="text/javascript" src="/media/scripts/jScrollPane.js"></script>
<!--<link rel="stylesheet" type="text/css" media="all" href="/media/styles/demoStyles.css" />-->
<link rel="stylesheet" type="text/css" media="all" href="/media/styles/jScrollPane.css" />
<!--<script type="text/javascript" language="javascript" src="/media/js/jquery.js"></script>-->
<script type="text/javascript" language="javascript" src="/media/js/page-jScrollPane.js"></script>
</head>

<!--<body>-->
<body onload="start();">
{% regroup exhibition by year as exhibition_list %}
{% regroup education by year as education_list %}
{% regroup award by year as award_list %}
  <div class="main-cont">
    <div class="cont-top">
    <div id="content_div">
        <div id="init_text">
          <div>
          Info:
          {{ info.info }}
          </div>
          <div>
              <h1>Exhibition</h1>
              {% for year in exhibition_list %}
                  <p>
                      {{ year.grouper }}
                  </p>
                  {% for item in year.list %}
                      <p>
                      <strong>{{ item.details }}</strong>
                      </p>
                  {% endfor %}
              {% endfor %}
          </div>
          <div>
              <h1>Award</h1>
              {% for year in award_list %}
                  <p>
                      {{ year.grouper }}
                  </p>
                  {% for item in year.list %}
                      <p>
                      <strong>{{ item.award }}</strong>
                      {{ item.location }}
                      </p>
                  {% endfor %}
              {% endfor %}
          </div>
          <div>
              <h1>Education</h1>
              {% for year in education_list %}
                  <p>
                      {{ year.grouper }}
                  </p>
                  {% for item in year.list %}
                      <p>
                      <strong>{{ item.course }}</strong>
                      {{ item.location }}
                      </p>
                  {% endfor %}
              {% endfor %}
          </div>
        </div>
    </div>
    <div id="loader">&nbsp;</div>
    </div>
    <div class="cont-bottom-1">


<table border="0" cellpadding="4" cellspacing="0">
 <tr>
  <td><div id="wn">
    <div id="lyr1">
    </div>
</div></td>

 </tr>
</table>

    </div>

    <div class="cont-bottom-2">
        <div id="upload_details">
            <!--2007. Performance. Duration 7 mins-->
        </div>
      <p class="index-nav">
        <div id="pagination">
        </div>
      </p>
    </div>
    
    <div class="cont-bottom-3">
      <img src="/media/css/images/lb-logo.png" />
      <ul class="sub-menu">
          <li><a id="main_bio" href="javascript: get_biography();">BIOGRAPHY</a></li>
          <li><a id="main_upcoming" href="javascript: get_upcoming();">UPCOMING</a></li>
          <li><a id="main_contact" href="javascript: get_contact();">CONTACT</a></li>
      </ul>
      <div class="copyright">All content copyright &copy; 2009 Lauren Brincat</div>
    </div>
  </div>

</body>
</html>
